<div class="app-nav-theme">
  <span class="app-nav-text"><%= t 'nav.theme' %>:</span>
  <ul>
    <% themes.each do |(theme_key, theme_name)| %>
      <%= content_tag :li, class: ('app-current' if theme_key == current_theme), 'data-theme' => theme_key do -%>
        <% if theme_key == current_theme -%>
          <span class="app-nav-text"><%= theme_name %></span>
        <% else -%>
          <button class="app-nav-theme-toggle" type="button">
            <span class="app-nav-text"><%= theme_name %></span>
            <span class="app-nav-icon"><%= inline_svg 'brightness.svg' %></span>
          </button>
        <% end -%>
      <% end -%>
    <% end %>
  </ul>
</div>
